.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 3px solid black;
  border-radius: 50px;
}
#search-bar {
  display: block;
  margin-top: 0 auto;
  text-align: center;
  border-radius: 50px;
}
#search-button {
  border-radius: 30px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(126, 126, 126);
  transition: all 150ms ease-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#search-button:hover {
  cursor: pointer;
  background: rgb(24, 69, 153);
  color: rgb(158, 187, 240);
}
#emoji {
  margin-top: 15px;
  margin-left: 10px;
}
#emoji:hover {
  cursor: pointer;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin-left: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weatherTemperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
#temperature {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.units:hover {
  cursor: pointer;
  text-decoration: none;
}

.weatherForecast {
  margin-top: 20px;
  text-align: center;
}
.forecastDay {
  font-size: 16px;
  opacity: 0.7;
}
.forecastTemperatures {
  font-size: 13px;
}

.forecastTemperatureMin {
  opacity: 0.5;
}

footer {
  font-size: 13px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}
