body {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  margin: 30px auto;
  margin-bottom: -35px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
}
#search-bar {
  display: block;
  margin-top: 0 auto;
  text-align: center;
}
#search-button {
  transition: all 150ms ease-out;
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#search-button:hover {
  cursor: pointer;
  background: rgb(24, 69, 153);
  color: rgb(158, 187, 240);
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0px;
  text-align: left;
  opacity: 0.8;
}

ul {
  margin-left: 0;
  padding: 0;
  opacity: 0.6;
  text-align: left;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weatherInfo {
  margin-bottom: 20px;
}
.weatherTemperature img {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-top: unset;
  vertical-align: top;
}
.weatherTemperature {
  vertical-align: top;
}

#temperature {
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}
.unit {
  position: relative;
  font-size: 16px;
  top: -30px;
  left: -3px;
}

a {
  text-decoration: none;
}

.weatherForecast {
  margin-top: 20px;
  text-align: center;
}
.forecastDay {
  font-size: 16px;
  opacity: 0.5;
}
.forecastTemperatures {
  font-size: 13px;
}

.forecastTemperatureMin {
  opacity: 0.5;
}

footer {
  font-size: 11px;
  text-align: center;
  opacity: 0.8;
}
